$font_main: "PT sans", Arial, sans-serif;
$bg_color: #f2f2f2;
$font_color: #1c1c1c;
$font_header_color: #244973;

@mixin border_b {
  border-bottom: 1px solid #9f9f9f;
  box-shadow: 0 2px 7px 3px #c6c6c6;
}


* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: $font_main;
  color: $font_color;
}

h1 {
  font-size: 4.5rem;
  margin: 40px 0 20px;
  color: $font_header_color;
}

h2 {
  font-size: 3.5rem;
  margin: 25px 0;
  color: $font_header_color;
}

h3 {
  font-size: 2.5rem;
  margin: 15px;
  color: $font_header_color;
}

h4 {
  font-size: 2.2rem;
  margin: 10px;
}

p {
  font-size: 1.8rem;
}

label {
  font-size: 2.2rem;
  margin-right: 25px;
  width: 40%;
}

input {
  padding: 5px 5px 5px 15px;
  font-size: 2.2rem;
  border-radius: 5px;
  width: 60%;
}

button {
  background-image: linear-gradient(to bottom, #0099ff, #0066cc);
  color: $bg_color;
  font-size: 1.8rem;
  padding: 10px 40px;
  border: none;
  border-radius: 21px;
  &:hover {
    background-image: linear-gradient(to bottom, rgba(195, 150, 236, 0.66), #a84681);
    //background-color: #063484;
    cursor: pointer;
  }
}

section {
  padding: 75px 0;
  border-bottom: 1px solid #9f9f9f;
  box-shadow: 0 2px 7px 3px #c6c6c6;
  background-color: $bg_color;
}

.active {
  display: block;
}


header {
  width: 100%;
  @include border_b;
  .row {
    width: 100%;
    padding: 10px 30px;
    //border-bottom: 1px solid #9f9f9f;
    //box-shadow: 0 2px 7px 3px #c6c6c6;
    @include border_b;
    background-image: url(../../img/headerbg.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    .logo {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 70%;
      img {
        display: block;
        height: 60px;
        margin-right: 20px;
      }
      h2 {
        width: 40%;
        font-size: 1.6rem;
        margin: 5px 0;
        color: $bg_color;
      }
    }
  }
  section.sub_header {
    border: none;
    box-shadow: none;
    width: 1200px;
    margin: 60px auto;
    background-color: #fff;
    h1, h2 {
      text-align: center;
    }

  }
}



main {
  width: 100%;
  section.registration {
    display: none;
    form {
      width: 768px;
      margin: auto;
      text-align: center;
      .row {
        width: 100%;
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        label {
          text-align: left;
        }
        .empty, .error {
          font-size: 1.4rem;
          color: red;
          display: none;
          width: 768px;
          position: absolute;
          bottom: -1.8rem ;
          right: 0;
          text-align: right;

        }
      }
      button {
        display: block;
        margin: 60px auto 0;
      }
    }
  }

  section.test {
    display: none;
    header {
      width: 1200px;
      margin: 0 auto 40px;
      border: none;
      box-shadow: none;
      text-align: center;
      h2 {
        margin-bottom: 10px;
      }
      h4 {
        color: $font_header_color;
      }
    }

    h2.timer {
      position: fixed;
      top: 30px;
      left: 30px;
      width: 250px;
      margin: auto;
      padding: 15px;
      border: 3px inset #9f9f9f;
      font-family: "Advanced Pixel LCD-7", sans-serif;
      font-size: 3rem;
      font-weight: 100;
      background-color: #000000;
      color: chartreuse;
      text-align: center;
      span {
        display: inline;
      }
    }

    .body {
      width: 992px;
      margin: auto;
      position: relative;


      form {
        margin: 30px 0;
        ol.questions {
          list-style-position: inside;
          li.questions__item {
            margin-bottom: 25px;
            padding: 30px;
            font-size: 1.8rem;
            font-weight: bold;
            box-shadow: 0 0 5px 2px #9f9f9f;
            background-color: #fff;
            h5 {
              display: inline-block;
              font-size: 1.8rem;
              margin-bottom: 20px;
            }
            ol.answers {
              list-style-type: lower-latin;
              margin-left: 20px;
              padding-left: 20px;
              list-style-position: outside;
              li.answers__item {
                font-size: 1.6rem;
                padding-left: 15px;
                margin-bottom: 15px;
                input[type="radio"] {
                  width: auto;
                }
                label {
                  font-size: 1.6rem;
                  font-weight: normal;
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  box-sizing: border-box;
  width: 100%;
  background-image: url(../../img/footer_bg-04.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    img {
      height: 100px;
      margin-right: 25px;
    }
    h2 {
      font-size: 2rem;
      text-align: left;
    }
  }

  h3, h4 {
    color: #3d79bd;
  }

  h4 {
    display: inline-block;
    margin-right: 25px;
    line-height: 32px;
  }

  a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../../img/Dingtalk-square-01-light.png);
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: center center;
    &:hover {
      background-image: url(../../img/Dingtalk-square-01-dark.png);

    }
  }

  p {
    color: #244973;

  }
}

.active {
  display: block !important;
}

.disable {
  display: none !important;
}